<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${static.title}</title>
    <link type="text/css" href="${config.content_url}css/custom-theme/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
    <link href="${config.content_url}css/payment.css" type="text/css" media="screen" rel="stylesheet" />
		<style type="text/css">
			.paymentChoice h3{color:#FFF;background:#555 url("${config.content_url}img/gradient.gif") top left repeat-x;margin:-10px -10px 0;padding:4px;}
			/*.active{width:550px;border:1px solid #999;background-color:#FFF;margin:10px 0;padding:10px;}
			.active h3{color:#fff;background:#999 url("${config.content_url}img/gradient.gif") top left repeat-x;margin:-10px -10px 0;padding:4px;}*/
			.submit{margin-top:20px;background-image:url("${config.content_url}img/button_background.png");background-position:left top;background-repeat:repeat-x;border:1px outset #CCC;color:#555;cursor:pointer;font-weight:700;padding:4px 5px;}
    </style>
    <script type="text/javascript"
		src="${config.content_url}js/jquery.openInvoice.js">
    </script>
  </head>
  <body>
  	<div id="loadingImageDiv" style="display:none;">
    	<img src="${config.content_url}img/data-loading.gif"' alt="" /> 
    </div>
  	<div id="attentionBlock">
    	<noscript>
        <fieldset id="nojs">
          <img width="14" height="14" src="${config.content_url}img/stop.gif" alt="${static.errorCode1}"/>&nbsp; ${static.javaScriptInfo}
        </fieldset>
      </noscript>
    	<fieldset id="attention">
    		${static.refreshAndBackInfo}
      </fieldset>
    </div>
    <div id="paymentMethods">
	    <fieldset class="topField">
      	<div id="price">
          <span class="label">${static.amount}:</span>&nbsp; ${req.formattedAmount} ${req.currency}
          <br \>
          <span class="label">${static.orderId}:</span>&nbsp; ${req.orderId}
          <br \>
          <span class="label">${static.orderDescription}:</span>&nbsp; ${req.orderDescription}
        </div>
        <div id="nglogo">
          <img src="${config.content_url}img/merchant_logo.gif" alt="Merchant logo" id="merchantlogo" width="173" height="50">
        </div>
      </fieldset>
      <#assign rv = req.errorCode!"0">
      <#if rv != "0">
        <p class="error">
          <fieldset id="errorField">
            <#if rv == "1">
              ${static.errorCode1}
            <#elseif rv == "2">
              ${static.errorCode2}
            <#elseif rv == "3">
              ${static.errorCode3}
            <#else>
              ${static.errorCodeUnknown}
            </#if>
          </fieldset>
          <br />
        </p>
      </#if>
      
      <div id="paymentChoiceCCbig" class="paymentChoice">
        <h3><input type="radio" id="rbtnCreditCard" value="Credit Card" name="paymentType" checked="checked" onClick="toggleStatus()"><label for="rbtnCreditCard">${static.creditCard}</label></h3>
        <div id="paymentChoiceCC">
        <form name="creditCard" id="creditCard" action="${config.payment_servlet}" method="POST">
          <input type="hidden" name="${input.encryptedCustomerRedirect}" value="${req.encryptedCustomerRedirect}" />
          <input type="hidden" name="${input.encryptedStatusTicket}" value="${req.encryptedStatusTicket}" />
          <input type="hidden" name="${input.paymentType}" value="CARD"/>
          <input type="hidden" name="${input.cardNumberField}" value="${input.cardNumber}"/>
          <input type="hidden" name="${input.cvCodeField}" value="${input.cvCode}"/>
          <input type="hidden" name="${input.cardType}" value="UNKNOWN"/>
          
		  <fieldset class="cardType">
            <ul id="ulCCType">
              <li>
                <!-- INTERNATIONAL -->
                <div style="width:75px" align="center">
                <img width="75" height="40" class="ccLogo" src="${config.content_url}img/visa_logo.gif" alt="Visa"/>
                </div>
              </li>
              <li>
              <div style="width:75px" align="center">
                <img width="75" height="40" class="ccLogo" src="${config.content_url}img/mastercard_logo.gif" alt="MasterCard"/>
                </div>
              </li>
              <li>
              <div style="width:75px" align="center">
                <img width="75" height="40" class="ccLogo" src="${config.content_url}img/amex_logo.gif" alt="American Express"/>
                </div>
              </li>
              <li>
              	<div style="width:75px" align="center">
                <img width="75" height="40" class="ccLogo" src="${config.content_url}img/maestro_logo.gif" alt="Maestro"/>
                </div>
              </li>
              <li> 
              	<div style="width:75px" align="center">
                <img height="40" class="ccLogo" src="${config.content_url}img/discover_logo.gif" alt="Discover"/>
                </div>
              </li>
              <li> 
              	<div style="width:75px" align="center">
                <img height="40" class="ccLogo" src="${config.content_url}img/diners_logo.png" alt="Diners"/>
                </div>
              </li>
            </ul>
          </fieldset>
		  
          <fieldset class="cardNumber">
            <label for="${input.cardNumber}">${static.cardNumber}:</label>
            <input type="text" name="${input.cardNumber}" id="${input.cardNumber}" size="21" value="${prev.cardNumber}" autocomplete="off"/>
          </fieldset>
          
          <fieldset class="expirationDate">
            ${static.cardExpirationDate}:
            <!--<label for="${input.expDateMonth}">${static.month}:</label>-->
            <select name="${input.expDateMonth}" id="${input.expDateMonth}">
              <#list ["${static.month}","01", "02", "03", "04", "05","06", "07", "08", "09","10","11", "12"] as month>
              <#if "${month}" == prev.expDateMonth>selected</#if> >${month}<option value="${month}" <#if "${month}" == prev.expDateMonth>selected</#if> >${month}</option>
              </#list>
            </select> 
            <!--<label for="${input.expDateYear}">${static.year}:</label>-->
            <select name="${input.expDateYear}" id="${input.expDateYear}" style="font-family:Arial Unicode MS"></select>
          </fieldset>
          
          <fieldset class="cvv">
          	<span id="cvvlabel" title="${static.cvvInfo}"><label for="${input.cvCode}"><a href="#" id="cvvinfolabel">${static.cvv}:</a></label></span>
            <input type="text" name="${input.cvCode}" id="${input.cvCode}" size="4" maxlength="4" autocomplete="off"/>
          </fieldset>

 		  <fieldset class="bottomField">
          	<div class="submitCCOBbtn">
              <input id="submitCC" class="submit" type="submit" value="${static.submit}"/>
            </div>
            <div class="vbv_mcsc">
            	<a href="http://www.visaeurope.com/personal/onlineshopping/verifiedbyvisa/signup/main.jsp" target="_blank">
              	<img class="vbv" src="${config.content_url}img/vbv.gif" alt="Verified by Visa" height="35" width="66"/>
              </a>
              <a href="http://www.mastercard.com/securecode/" target="_blank">
              	<img class="mcsc" src="${config.content_url}img/mcsc.gif" alt="MasterCard SecureCode" height="35" width="79"/>
              </a>
              <a href="http://protectbuy.com/discover-faq/" target="_blank">
              	<img class="mcsc" src="${config.content_url}img/discover_ptb.png" alt="Discover ProtectBuy" height="35"/>
              </a>
              <a href="http://protectbuy.com/diners-club-faq/" target="_blank">
              	<img class="mcsc" src="${config.content_url}img/diners_ptb.png" alt="Diners ProtectBuy" height="35"/>
              </a>
            </div>
          </fieldset>
          
        </form>
        </div><!-- /#paymentChoiceCC-->
      </div><!-- /.paymentChoice-->
      
      <div id="paymentChoiceOBbig" class="paymentChoice">
      	<h3><input type="radio" id="rbtnOnlineBanking" value="Online Banking" name="paymentType" onClick="toggleStatus()"><label for="rbtnOnlineBanking">${static.onlineBanking}</label></h3>
		    <div id="paymentChoiceOB">
          <form name="onlineBanking" id="onlineBanking" action="${config.ibp_servlet}" method="GET">
            <input type="hidden" name="${input.encryptedCustomerRedirect}" value="${req.encryptedCustomerRedirect}" />
            <input type="hidden" name="${input.encryptedStatusTicket}" value="${req.encryptedStatusTicket}" />
            <fieldset class="cardType">
              <ul id="ulOBType">
              <li>
              	<ul class="lbl">
                  <li class="lblw"><label for="GIROPAY"><img width="120" height="40" class="ccLogo" alt=GIROPAY src="${config.content_url}img/giropay_logo.gif"></label></li>
                  <li>
                  	<div style="width:120px" align="center">
                    <input type="radio" name="${input.bankId}" id="GIROPAY" value="21"  checked="checked" />
                    <label for="GIROPAY">giropay</label>
                    </div>
                  </li>
              	</ul>
				</li>
				<li>
				<ul class="lbl">
                  <li class="lblw"><label for="SOFORT"><img width="120" height="40" class="ccLogo" alt=SOFORT src="${config.content_url}img/sofort_logo.png"></label></li>
                  <li>
                  	<div style="width:150px" align="center">
                    <input type="radio" name="${input.bankId}" id="SOFORT" value="86"  checked="checked" />
                    <label for="SOFORT">sofortüberweisung.de</label>
                    </div>
                  </li>
              	</ul>
				
              </li>
              </ul>
            </fieldset>
              
            <fieldset class="bottomField">
              <div class="submitCCOBbtn">
                <input id="submitOB" class="submit" type="submit" value="${static.submit}"/>
              </div>
              <div class="vbv_mcsc">
              </div>
            </fieldset>
                  
          </form>
      	</div>
      </div>
      	  
      <div id="paymentChoiceDDbig" class="paymentChoice">
		<h3>
		<input type="radio" id="rbtnDD" value="DD" name="paymentType" onClick="toggleStatus()"><label for="rbtnDD">${static.dd}</label></h3>
		<div id="paymentChoiceDD">
			<form name="dd" id="dd" action="${config.dd_servlet}" method="GET">
				<input type="hidden" name="${input.encryptedCustomerRedirect}" value="${req.encryptedCustomerRedirect}" />
				<input type="hidden" name="${input.encryptedStatusTicket}" value="${req.encryptedStatusTicket}" />
				<input type="hidden" name="${input.paymentMethodId}" value="4003" />
				<input type="hidden" name="creditorId" value="${static.creditorId}" />
				<input type="hidden" name="creditorName" value="${static.creditorName} ${static.onbehalfof}" />
				<input type="hidden" name="creditorAddress" value="${static.creditorAddress}" />
				<input type="hidden" name="creditorCity" value="${static.creditorCity}" />
				<input type="hidden" name="creditorZipCode" value="${static.creditorZipCode}" />
				<input type="hidden" name="creditorCountry" value="${static.creditorCountry}" />
				<input type="hidden" name="mandateConsent" value="${static.mandateConsentText}" />
				<fieldset class="cardType">
					<ul class="lbl">
						<li>
							 <div style="height:10%" align="center">
								<label for="DD"><img  class="ccLogo" src="${config.content_url}img/sepa_logo.png" alt="Direct Debit"/></label>
							  </div>
						</li>
					</ul>
				</fieldset>
				<fieldset class="ddSepaArea">
					<h2>${static.sepaMandate}</h2>
					<ul class="creditorInfo">
						<li id="creditorNameLine"><label class="ddHeadings">${static.creditor}: </label><span>${static.creditorName} ${static.onbehalfof}</span></li>
						<li><label class="ddHeadings"> </label> &nbsp;<span>${static.creditorAddress}, ${static.creditorCity}</span></li>
						<li><label class="ddHeadings">${static.creditorIdHeading}: </label><span>${static.creditorId}</span></li>
					</ul>					
					<h4>${static.accountDetails}</h4>
					<ul class="debtorInfo">
						<li><label for="bankAccountIban" class="ddHeadings">${static.iban}: </label><input type="text" id="bankAccountIban" name="bankAccountIban" size="40" value=""/></li>
						<li><label for="bankSwiftBIC" class="ddHeadings">${static.bic}: </label><input type="text" id="bankSwiftBIC" name="bankSwiftBIC" size="40" value=""/></li>
					</ul>
					<h4>${static.billingInfo}</h4>
					<ul class="debtorInfo">
						<li><label for="billingFirstName" class="ddHeadings">${static.firstName}: </label><input type="text" name="billingFirstName" size="30" value="${req.billingFirstName}"/></li>
						<li><label for="billingLastName" class="ddHeadings">${static.lastName}: </label><input type="text" name="billingLastName" size="30" value="${req.billingLastName}"/></li>
						<li><label for="email" class="ddHeadings">${static.email}: </label><input type="text" name="email"  size="30" value="${req.billingEmail}" maxlength="120"/></li>
						<li><label for="billingAddressLine1" class="ddHeadings">${static.address1}: </label><input id="billingAddressLine1" type="text" name="billingAddressLine1" size="30" value="${req.billingAddressLine1}" maxlength="100"/></li>
						<li><label for="billingAddressLine2" class="ddHeadings">${static.address2}: </label><input id="billingAddressLine2" type="text" name="billingAddressLine2" size="30" value="${req.billingAddressLine2}" maxlength="100"/></li>
						<li><label for="billingCity" class="ddHeadings">${static.city}: </label><input type="text" name="billingCity" size="30" value="${req.billingCity}" maxlength="80"/></li>
						<li><label for="billingZipCode" class="ddHeadings">${static.zip}: </label><input type="text" name="billingZipCode" size="30" value="${req.billingZipCode}" maxlength="30"/></li>
						<li><label for="billingCountryCode" class="ddHeadings">${static.countryCode}: </label><select id="billingCountryCode" name="billingCountryCode">
								<#list "${static.ddSupportedCountries}"?split(",") as keyvalpair>
									<#assign keyval = "${keyvalpair}"?split("=")>
									<option value="${keyval[1]}">${keyval[0]}</option>
								</#list>
							</select>
						</li>
					</ul>
					<h4>${static.termsAndCondition}</h4>
					<p>${static.mandateConsentText}</p>
				</fieldset>
				<fieldset class="ddSepaTC">
					<input type="checkbox" name="ddagreement"/><div class="agreementArea">${static.ddAgreement}</div>
					<input id="submitDD" class="submit" type="submit" value="${static.submit}"/>
				</fieldset>
			</form>
		</div><!-- /#paymentChoiceDD-->
	</div><!-- /#paymentChoiceDDbig-->
	  
	  
	  
	  <div id="paymentChoiceEFTbig" class="paymentChoice">
      	<h3><input type="radio" id="rbtnEFT" value="EFT" name="paymentType" onClick="toggleStatus()"><label for="rbtnEFT">${static.eft}</label></h3>
		    <div id="paymentChoiceEFT">
          <form name="eft" id="eft" action="${config.eft_servlet}" method="GET">
            <input type="hidden" name="${input.encryptedCustomerRedirect}" value="${req.encryptedCustomerRedirect}" />
            <input type="hidden" name="${input.encryptedStatusTicket}" value="${req.encryptedStatusTicket}" />
            <input type="hidden" name="${input.paymentMethodId}" value="2002" />
            <fieldset class="expirationDate">
            	${static.eftStartInstruction}
            </fieldset>
            <fieldset class="bottomField">
              <div class="submitCCOBbtn">
                <input id="submitEFT" class="submit" type="submit" value="${static.submit}"/>
              </div>
              <div class="vbv_mcsc">
              </div>
            </fieldset>
          </form>
      	</div>
      </div>
      <div id="paymentChoicePPbig" class="paymentChoice">
      	<h3><input type="radio" id="rbtnPayPal" value="PayPalBanking" name="paymentType" onClick="toggleStatus()"><label for="rbtnPayPal">${static.ewallet}</label></h3>
		    <div id="paymentChoicePP">
          <form name="paypalBanking" id="paypalBanking" action="${config.ibp_servlet}" method="GET">
            <input type="hidden" name="${input.encryptedCustomerRedirect}" value="${req.encryptedCustomerRedirect}" />
            <input type="hidden" name="${input.encryptedStatusTicket}" value="${req.encryptedStatusTicket}" />
            <fieldset class="cardType">
              <ul id="ulPPType">
              <li>
              	<ul class="lbl">
                  <li class="lblw"><label for="PAYPAL"><img width="120" height="40" class="ccLogo" src="${config.content_url}img/paypal_logo.gif" alt="PAYPAL"/></label></li>
                  <li>
                  	<div style="width:120px" align="center">
                    <input type="radio" name="${input.bankId}" id="PAYPAL" value="29" checked="checked" />
                    <label for="PAYPAL">PayPal</label>
                    </div>
                  </li>
                </ul>
              </li>
              </ul>
            </fieldset>
            <fieldset class="bottomField">
              <div class="submitCCOBbtn">
                <input id="submitPP" class="submit" type="submit" value="${static.submit}"/>
              </div>
              <div class="vbv_mcsc">
              </div>
            </fieldset>
          </form>
      	</div>
      </div>
      
      <div id="paymentChoiceOIbig" class="paymentChoice">
      	<h3><input type="radio" id="rbtnOI" name="paymentType" onClick="toggleStatus()"/><label for="rbtnOI">${static.openInvoice}</label></h3>
		 <div id="paymentChoiceOI">
          <form name="OIBanking" id="OIBanking" action="${config.open_invoice_servlet}" method="POST">
            <input type="hidden" name="${input.encryptedCustomerRedirect}" value="${req.encryptedCustomerRedirect}" />
            <input type="hidden" name="${input.encryptedStatusTicket}" value="${req.encryptedStatusTicket}" />
            <fieldset class="klarnaType no-border">
                    <div id="paymentPlanDiv">
                    
                    </div>
                    <div id="shippingAddressMainDiv">
                       <div id="shippingAddressHeading">
					   	<h3>${static.klarnaShippingAddressHeading}</h3>
					   </div>
					   <br/>
					   <div id="shippingAddressErrorMessage" class="red" style="display:none;">
							${static.klarnaErrorCode1}
						</div>
						<br/>
						<ul class="shippingAddressUL">
							<li>
								<label for="shippingFirstNameLabel" class="shippingFirstNameLabel">
									<span class="red">*</span>${static.firstName}: 
								</label>
								<input id="shippingFirstNameText" type="text" size="30" value="${req.shippingFirstName}"/>
							</li>
							<li>
								<label for="shippingLastNameLabel" class="shippingLastNameLabel">
									<span class="red">*</span>${static.lastName}: 
								</label>
								<input id="shippingLastNameText" type="text" size="30" value="${req.shippingLastName}"/>
							</li>
							<li>
								<label for="shippingGenderLabel" class="shippingGenderLabel">
									<span class="red">*</span>${static.klarnaGender}: 
								</label>
								<select id="shippingGenderOption">
									<option value="">- ${static.klarnaSelect} -</option>
								    <option value="MALE">${static.klarnaMale}</option>
								    <option value="FEMALE">${static.klarnaFemale}</option>
								</select>
							</li>
							<li>
								<label for="shippingBirthDateLabel" class="shippingBirthDateLabel">
									<span class="red">*</span>${static.klarnaBirthDate}: 
								</label>
								<span>
									<input id="shippingBirthDateText" type="text" value="${req.birthDate}" maxlength="8"/>
									<label id="dobErrMsg" class="red" style="display:none;">${static.klarnaDOBErrorMsg}</label>
								</span>
								<div class="dobFormat">${static.klarnaDOBFormatDE}</div>
							</li>
							<li>
								<label for="shippingEmailIdLabel" class="shippingEmailIdLabel">
									<span class="red">*</span>${static.klarnaEmail}
								</label>
								<input id="shippingEmailIdText" type="text" size="30" value="${req.shippingEmailAddress}" maxlength="120"/>
							</li>
							<li>
								<label for="shippingStreetNameLabel" class="shippingStreetNameLabel">
									<span class="red">*</span>${static.klarnaStreetName}: 
								</label>
								<input id="shippingStreetNameText" type="text" size="30" value="${req.shippingStreetName}" maxlength="100"/>
							</li>
							<li>
								<label for="shippingHouseNumberLabel" class="shippingHouseNumberLabel">
									<span class="red">*</span>${static.klarnaHouseNumber}: 
								</label>
								<input id="shippingHouseNumberText" type="text" value="${req.shippingHouseNumber}" maxlength="10"/>
								<label id="houseNumberErrMsg" class="red" style="display:none;">${static.klarnaHouseNumberError}</label>
							</li>
							<li>
								<label for="shippingCityLabel" class="shippingCityLabel">
									<span class="red">*</span>${static.city}: 
								</label>
								<input id="shippingCityText" type="text" size="30" value="${req.shippingCity}" maxlength="80"/>
							</li>
							<li>
								<label for="shippingZipCodeLabel" class="shippingZipCodeLabel">
									<span class="red">*</span>${static.zip}: 
								</label>
								<input id="shippingZipCodeText" type="text" size="30" value="${req.shippingZipCode}" maxlength="30"/>
							</li>
							<li>
								<label for="shippingCountryLabel" class="shippingCountryLabel">
									<span class="red">*</span>${static.klarnaCountryCode}: 
								</label>
								<input id="shippingCountryText" type="text" value="${req.shippingCountryCode}" maxlength="2"/>
							</li>
							<li>
								</br>
								<div class="phoneNumMsgAT">${static.klarnaPhoneNumMsg}</div>
							</li>
							<li>
								<label for="shippingPhoneNumberLabel" class="shippingPhoneNumberLabel">${static.klarnaPhoneNumber}: </label>
								<input id="shippingPhoneNumberText" type="text" value="${req.shippingPhone}" maxlength="15"/>
							</li>
							<li>
								<label for="shippingMobileNumberLabel" class="shippingMobileNumberLabel">${static.klarnaMobileNumber}: </label>
								<input id="shippingMobileNumberText" type="text" value="${req.shippingMobilePhone}" maxlength="15"/>
							</li>
					   </ul>
                    </div>
                    <div id="paymentPlanDivHidden">
                    	<input type="hidden" name="paymentPlanCode" value="-1" />
                    </div>
                    <div id="shippingAddresMainDivHidden">
						<input class="shippingFirstNameHidden" type="hidden" name="firstName" value=""/>
	                    <input class="shippingLastNameHidden" type="hidden" name="lastName" value=""/>
	                    <input class="shippingGenderHidden" type="hidden" name="gender" value=""/>
	                    <input class="shippingBirthDateHidden" type="hidden" name="birthDate" value=""/>
	                    <input class="shippingEmailIdHidden" type="hidden" name="shippingEmailAddress" value=""/>
	                    <input class="shippingStreetNameHidden" type="hidden" name="streetName" value=""/>
	                    <input class="shippingHouseNumberHidden" type="hidden" name="houseNumber" value=""/>
	                    <input class="shippingCityHidden" type="hidden" name="city" value=""/>
	                    <input class="shippingZipCodeHidden" type="hidden" name="zipCode" value=""/>
	                    <input class="shippingCountryHidden" type="hidden" name="countryCode" value=""/>
						<input class="shippingPhoneNumberHidden" type="hidden" name="shippingPhone" value=""/>
						<input class="shippingMobileNumberHidden" type="hidden" name="shippingMobilePhone" value=""/>
					</div>
					<div id="klarnaBankIdDivHidden">
						<input type="hidden" name="${input.bankId}" value="${static.klarnaPaymentMethodId}"/>
					</div>
            </fieldset>
            
            <fieldset class="bottomField bottomFieldConfirm">
              <div class="submitOIbtn">
                <input id="submitOI" class="confirmOI" type="submit" value="${static.submit}" disabled="enabled"/>
              </div>
            </fieldset>
          </form>
      	</div>
      </div>
      
      <form name="cancelPayment" id="cancelPayment" action="${config.cancel_servlet}" method="POST">
        <input type="hidden" name="${input.encryptedCustomerRedirect}" value="${req.encryptedCustomerRedirect}" />
        <input type="hidden" name="${input.encryptedStatusTicket}" value="${req.encryptedStatusTicket}" />
        <input id="cancelBtn" class="cancel" type="submit" value="${static.cancel}">
      </form>
      <script src="${config.content_url}js/jquery-1.3.2.min.js" type="text/javascript"></script>
			<script src="${config.content_url}js/jquery.flower_bubble.js" type="text/javascript"></script>
      <script src="${config.content_url}js/jquery.pngFix.js" type="text/javascript"></script>
      <script src="${config.content_url}js/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
      <script type="text/javascript">
      /*
      For the CVV info dialog the jQuery 'dialog' plugin is used:
      http://docs.jquery.com/UI/Dialog
      Files required:
      - js/jquery-1.3.2.min.js
      - js/jquery-ui-1.7.2.custom.min.js (generated by ThemeRoller tool: http://jqueryui.com/themeroller/)
      - "css/custom-theme" folder
      */
      jQuery(document).ready(function($){
				// cvv dialog
        $('#dialog').dialog({
          autoOpen: false,
          width: 600
        });
        // cvv dialog click here link
        $('#cvvinfolabel').click(function(){
          $('#dialog').removeClass('cvvdialog');
          $('#dialog').dialog('open');
          return false;
        });
      });
			
      /*
      For the opaque overlay cover jQuery 'FLOWER_BUBBLE' plugin is used:
      http://plugins.jquery.com/project/flower_bubble
      Files required:
      - js/jquery-1.3.2.min.js
      - js/jquery.flower_bubble.js
      - js/jquery.pngFix.js
      - flower.gif
      - bubble.png
      */
      $(window).load(function() {
				flobu1 = new flower_bubble ({
					base_obj: $( 'div#paymentChoiceCC' ),
					background: { css: 'white', opacity: 0.5 },
					block_mode: 'base_obj'
				});
						 
				flobu2 = new flower_bubble ({
					base_obj: $( 'div#paymentChoiceOB' ),
					background: { css: 'white', opacity: 0.5 },
					block_mode: 'base_obj'
				});
				
				flobu3 = new flower_bubble ({
					base_obj: $( 'div#paymentChoiceEFT' ),
					background: { css: 'white', opacity: 0.5 },
					block_mode: 'base_obj'
				});
				
				flobu4 = new flower_bubble ({
					base_obj: $( 'div#paymentChoiceDD' ),
					background: { css: 'white', opacity: 0.5 },
					block_mode: 'base_obj'
				});
        
				flobu5 = new flower_bubble ({
					base_obj: $( 'div#paymentChoicePP' ),
					background: { css: 'white', opacity: 0.5 },
					block_mode: 'base_obj'
				});
				
				flobu6 = new flower_bubble ({
					base_obj: $( 'div#paymentChoiceOI' ),
					background: { css: 'white', opacity: 0.5 },
					block_mode: 'base_obj'
				});
				$('#billingCountryCode').val('${req.billingCountryCode}');
				
				// AJAX call for Klarna on page load
				executingAjaxCallForKlarna();
				
                // Now, check which one is clicked by user, and activate corresponding box.
				toggleStatus();
				
				$("#creditCard").submit(function(){
					if($("#creditCard").valid()){
						$("#submitCC").attr('value','${static.processingWait}'); 
						
						// Disable all submit buttons
						$("#submitPP").attr('disabled','disabled'); 
						$("#submitOB").attr('disabled','disabled'); 
						$("#submitEFT").attr('disabled','disabled'); 
						$("#submitCC").attr('disabled','disabled'); 
						$("#submitDD").attr('disabled','disabled');
						$("#submitOI").attr('disabled','disabled');
						$("#cancelBtn").attr('disabled','disabled');
					
						$("#rbtnOnlineBanking").attr('disabled','disabled');
						$("#rbtnEFT").attr('disabled','disabled');
						$("#rbtnPayPal").attr('disabled','disabled');
						$("#rbtnDD").attr('disabled','disabled');
						
						$("#cancelBtn").css("color","#CCCCCC");
					}
					else return;
				});
				
				$("#onlineBanking").submit(function(){
					$("#submitOB").attr('value','${static.processingWait}');
					
					// Disable all submit buttons
					$("#submitPP").attr('disabled','disabled'); 
					$("#submitOB").attr('disabled','disabled'); 
					$("#submitEFT").attr('disabled','disabled'); 
					$("#submitCC").attr('disabled','disabled'); 
					$("#submitDD").attr('disabled','disabled');
					$("#submitOI").attr('disabled','disabled');
					$("#cancelBtn").attr('disabled','disabled');
					
					$("#rbtnCreditCard").attr('disabled','disabled');
					$("#rbtnEFT").attr('disabled','disabled');
					$("#rbtnPayPal").attr('disabled','disabled');
					$("#rbtnDD").attr('disabled','disabled');
					
					$("#cancelBtn").css("color","#CCCCCC");
				});
				
				$("#eft").submit(function(){
					$("#submitEFT").attr('value','${static.processingWait}');
					
					// Disable all submit buttons
					$("#submitPP").attr('disabled','disabled'); 
					$("#submitOB").attr('disabled','disabled'); 
					$("#submitEFT").attr('disabled','disabled'); 
					$("#submitCC").attr('disabled','disabled'); 
					$("#submitDD").attr('disabled','disabled');
					$("#submitOI").attr('disabled','disabled');
					$("#cancelBtn").attr('disabled','disabled');
					
					$("#rbtnCreditCard").attr('disabled','disabled');
					$("#rbtnOnlineBanking").attr('disabled','disabled');
					$("#rbtnPayPal").attr('disabled','disabled');
					$("#rbtnDD").attr('disabled','disabled');
					
					$("#cancelBtn").css("color","#CCCCCC");
				});
				
				$("#dd").submit(function(){
					if($("#dd").valid()){
						$("#submitDD").attr('value','${static.processingWait}');
						// Disable all submit buttons
						$("#submitPP").attr('disabled','disabled'); 
						$("#submitOB").attr('disabled','disabled'); 
						$("#submitEFT").attr('disabled','disabled'); 
						$("#submitCC").attr('disabled','disabled'); 
						$("#submitDD").attr('disabled','disabled');
						$("#submitOI").attr('disabled','disabled');
						$("#cancelBtn").attr('disabled','disabled');
						
						$("#rbtnCreditCard").attr('disabled','disabled');
						$("#rbtnOnlineBanking").attr('disabled','disabled');
						$("#rbtnPayPal").attr('disabled','disabled');
						$("#rbtnEFT").attr('disabled','disabled');
						
						$("#cancelBtn").css("color","#CCCCCC");
					} else return
				});
				
				$("#paypalBanking").submit(function(){
					$("#submitPP").attr('value','${static.processingWait}');
					
					// Disable all submit buttons
					$("#submitPP").attr('disabled','disabled'); 
					$("#submitOB").attr('disabled','disabled'); 
					$("#submitEFT").attr('disabled','disabled'); 
					$("#submitCC").attr('disabled','disabled'); 
					$("#submitDD").attr('disabled','disabled');
					$("#submitOI").attr('disabled','disabled');
					$("#cancelBtn").attr('disabled','disabled');
					
					$("#rbtnCreditCard").attr('disabled','disabled');
					$("#rbtnOnlineBanking").attr('disabled','disabled');
					$("#rbtnEFT").attr('disabled','disabled');
					$("#rbtnDD").attr('disabled','disabled');
					
					$("#cancelBtn").css("color","#CCCCCC");
				});
				
				$("#cancelPayment").submit(function(){

					// Disable all submit buttons
					$("#submitPP").attr('disabled','disabled'); 
					$("#submitOB").attr('disabled','disabled'); 
					$("#submitEFT").attr('disabled','disabled'); 
					$("#submitCC").attr('disabled','disabled'); 
					$("#submitDD").attr('disabled','disabled');
					$("#submitOI").attr('disabled','disabled');
					$("#cancelBtn").attr('disabled','disabled');

					$("#rbtnCreditCard").attr('disabled','disabled');
					$("#rbtnOnlineBanking").attr('disabled','disabled');
					$("#rbtnEFT").attr('disabled','disabled');
					$("#rbtnPayPal").attr('disabled','disabled');
					
					$("#cancelBtn").css("color","#CCCCCC");
				});
				
      });
      
      var isGetPaymentPlanCallCompleted = "false";
	  var resultPaymentPlans;
	  var billingSocialSecurityNumber;
	  var disableHouseNumberTextBox = "true";
	  var disableDOBTextBox = "true";
	  var houseNumberMaxLength = 10;
	  
	        var iReqParam = "${req.encryptedCustomerRedirect}",
			 	klarnaPaymentMethodId = "${static.klarnaPaymentMethodId}",
			 	getPaymentPlanURL = "${config.get_payment_plan_servlet}",
			 	currencyCode = "${req.currency}",
			 	invoice = "${static.klarnaInvoice}",
			 	invoiceRadioDescription = "${static.klarnaInvoiceRadioDescription}",
			 	partPaymentFixed = "${static.klarnaPartPaymentFixed}",
				partPaymentFlexible = "${static.klarnaPartPaymentFlexible}",
			 	month = "${static.klarnaMonth}",
			 	months = "${static.klarnaMonths}",
			 	klarnaPaymentPlanHeading = "${static.klarnaPaymentPlanHeading}",
			 	klarnaPaymentPlanTotalCost = "${static.klarnaPaymentPlanTotalCost}",
			 	klarnaPaymentPlanAnnualPercentageRate = "${static.klarnaPaymentPlanAnnualPercentageRate}";
			 	klarnaTC = "${static.klarnaTC}";
			 	klarnaForInvoice="${static.klarnaForInvoice}";
                klarnaForPartPaymentFixed="${static.klarnaForPartPaymentFixed}";
           		klarnaForPartPaymentFlexible="${static.klarnaForPartPaymentFlexible}";
				imgPath="${config.content_url}";
	  
	  function executingAjaxCallForKlarna(){
			// AJAX call for getPaymentPlans.
			if(isGetPaymentPlanCallCompleted == "false"){
				resultPaymentPlans = getPaymentPlan(getPaymentPlanURL, iReqParam, klarnaPaymentMethodId);
				displayPaymentPlan(resultPaymentPlans, currencyCode, month, invoice, partPaymentFixed, partPaymentFlexible, months, 
						invoiceRadioDescription, klarnaPaymentPlanHeading, klarnaPaymentPlanTotalCost, klarnaPaymentPlanAnnualPercentageRate, klarnaTC, klarnaForInvoice, klarnaForPartPaymentFixed, klarnaForPartPaymentFlexible, imgPath);
				isGetPaymentPlanCallCompleted = "true";
			}
	  }
	
      function toggleStatus() {
        if ($('#rbtnCreditCard').is(':checked')) {
		  $('#paymentChoiceCC :input').removeAttr('disabled');
          $('#paymentChoiceOB :input').attr('disabled', 'disabled');
          $('#paymentChoiceEFT :input').attr('disabled', 'disabled');
		  $('#paymentChoicePP :input').attr('disabled', 'disabled');
		  $('#paymentChoiceDD :input').attr('disabled', 'disabled');
		  $('#paymentChoiceOI :input[type="radio"]').attr('disabled', 'disabled');
          flobu1.disable();
          flobu2.enable();
		  flobu3.enable();
		  flobu4.enable();
		  flobu5.enable();
		  flobu6.enable();
        }
        else if ($('#rbtnOnlineBanking').is(':checked')) {
          $('#paymentChoiceOB :input').removeAttr('disabled');
          $('#paymentChoiceCC :input').attr('disabled', 'disabled');
          $('#paymentChoiceEFT :input').attr('disabled', 'disabled');
		  $('#paymentChoicePP :input').attr('disabled', 'disabled');
		  $('#paymentChoiceDD :input').attr('disabled', 'disabled');
		  $('#paymentChoiceOI :input[type="radio"]').attr('disabled', 'disabled');
          flobu1.enable();
          flobu2.disable();
		  flobu3.enable();
		  flobu4.enable();
		  flobu5.enable();
		  flobu6.enable();
        }
        else if ($('#rbtnEFT').is(':checked')) {
          $('#paymentChoiceEFT :input').removeAttr('disabled');
          $('#paymentChoiceCC :input').attr('disabled', 'disabled');
          $('#paymentChoiceOB :input').attr('disabled', 'disabled');
		  $('#paymentChoicePP :input').attr('disabled', 'disabled');
		  $('#paymentChoiceDD :input').attr('disabled', 'disabled');
		  $('#paymentChoiceOI :input[type="radio"]').attr('disabled', 'disabled');
          flobu1.enable();
          flobu2.enable();
		  flobu3.disable();
		  flobu4.enable();
		  flobu5.enable();
		  flobu6.enable();
        }
        else if ($('#rbtnDD').is(':checked')) {
          $('#paymentChoiceDD :input').removeAttr('disabled');
          $('#paymentChoiceCC :input').attr('disabled', 'disabled');
          $('#paymentChoiceOB :input').attr('disabled', 'disabled');
		  $('#paymentChoicePP :input').attr('disabled', 'disabled');
          $('#paymentChoiceEFT :input').attr('disabled', 'disabled');
		  $('#paymentChoiceOI :input[type="radio"]').attr('disabled', 'disabled');
          flobu1.enable();
          flobu2.enable();
		  flobu3.enable();
		  flobu4.disable();
		  flobu5.enable();
		  flobu6.enable();
        }
		else if ($('#rbtnPayPal').is(':checked')) {
		  $('#paymentChoicePP :input').removeAttr('disabled');
          $('#paymentChoiceCC :input').attr('disabled', 'disabled');
          $('#paymentChoiceEFT :input').attr('disabled', 'disabled');
		  $('#paymentChoiceOB :input').attr('disabled', 'disabled');
		  $('#paymentChoiceDD :input').attr('disabled', 'disabled');
		  $('#paymentChoiceOI :input[type="radio"]').attr('disabled', 'disabled');
          flobu1.enable();
          flobu2.enable();
		  flobu3.enable();
		  flobu4.enable();
		  flobu5.disable();
		  flobu6.enable();
		}
        
		else if ($('#rbtnOI').is(':checked')) {
			  if(${req.errorCode} == "0"){
				  // Deciding editable/non-editable field based on request parameters.
				  if(!isEmpty("${req.shippingFirstName}")){
				  	$("#shippingFirstNameText").attr("disabled", true);
				  }
				  if(!isEmpty("${req.shippingLastName}")){
				  	$("#shippingLastNameText").attr("disabled", true);
				  }
				  
				  var gender = "${req.gender}";
				  if(!isEmpty(gender)){
			  		var male = "${static.klarnaMale}"
			  		var female = "${static.klarnaFemale}"
			  		if(gender.toLowerCase() == male.toLowerCase()){
			  			$("#shippingGenderOption").val(male);
			  			$("#shippingGenderOption").attr("disabled", true);
			  		}
			  		if(gender.toLowerCase() == female.toLowerCase()){
			  			$("#shippingGenderOption").val(female);
			  			$("#shippingGenderOption").attr("disabled", true);
			  		}
				  }
				  if(!isEmpty("${req.birthDate}")){
				  	if(isDOBValidationPassed() && disableDOBTextBox == "true"){
			  			$("#shippingBirthDateText").attr("disabled", true);
			  		}else if(isDOBValidationPassed() && disableDOBTextBox == "false"){
			  			disableDOBTextBox = "false";
					    $("#dobErrMsg").hide();
					}else{
						disableDOBTextBox = "false";
					    $("#dobErrMsg").show();
					}
				  }
				  if(!isEmpty("${req.shippingEmailAddress}")){
				  	$("#shippingEmailIdText").attr("disabled", true);
				  }
				  if(!isEmpty("${req.shippingStreetName}")){
				  	$("#shippingStreetNameText").attr("disabled", true);
				  }
				  if(!isEmpty("${req.shippingHouseNumber}")){
				  		if(isHouseNumValidationPassed(houseNumberMaxLength) && disableHouseNumberTextBox == "true"){
				  			$("#shippingHouseNumberText").attr("disabled", true);
				  		}else if(isHouseNumValidationPassed(houseNumberMaxLength) && disableHouseNumberTextBox == "false"){
				  			disableHouseNumberTextBox = "false";
						    $("#houseNumberErrMsg").hide();
						}else{
							disableHouseNumberTextBox = "false";
						    $("#houseNumberErrMsg").show();
						}
					 }
				  if(!isEmpty("${req.shippingCity}")){
				  	$("#shippingCityText").attr("disabled", true);
				  }
				  if(!isEmpty("${req.shippingZipCode}")){
				  	$("#shippingZipCodeText").attr("disabled", true);
				  }
				  if(!isEmpty("${req.shippingCountryCode}")){
				  	$("#shippingCountryText").attr("disabled", true);
				  }
			 }else{
				// If Error in the request then enabling all the fields and displaying the error message
				var gender = "${req.gender}";
		  		$("#shippingGenderOption").val(gender);
				$("#shippingAddressErrorMessage").show();
			}
			
			// Filling shipping address section hidden parameters with request parameter's value.
			$(".shippingFirstNameHidden").val($("#shippingFirstNameText").val());
			$(".shippingLastNameHidden").val($("#shippingLastNameText").val());
			$(".shippingGenderHidden").val($("#shippingGenderOption").val());
			$(".shippingBirthDateHidden").val($("#shippingBirthDateText").val());
			$(".shippingEmailIdHidden").val($("#shippingEmailIdText").val());
			$(".shippingStreetNameHidden").val($("#shippingStreetNameText").val());
			$(".shippingHouseNumberHidden").val($("#shippingHouseNumberText").val());
			$(".shippingCityHidden").val($("#shippingCityText").val());
			$(".shippingZipCodeHidden").val($("#shippingZipCodeText").val());
			$(".shippingCountryHidden").val($("#shippingCountryText").val());
			$(".shippingPhoneNumberHidden").val($("#shippingPhoneNumberText").val());
			$(".shippingMobileNumberHidden").val($("#shippingMobileNumberText").val());
			
			  $('#paymentChoiceOI :input[type="radio"]').removeAttr('disabled');
			  $('#paymentChoiceCC :input').attr('disabled', 'disabled');
	          $('#paymentChoiceOB :input').attr('disabled', 'disabled');
			  $('#paymentChoicePP :input').attr('disabled', 'disabled');
			  flobu1.enable();
	          flobu2.enable();
			  flobu3.enable();
			  flobu4.enable();
			  flobu5.enable();
			  flobu6.disable();
			  
			  // On selecting "open  invoice" check confirm button behavior
			  confirmBtnBehaviourForDE();
			  
			   // payment plan radio button event handling
			   $("#paymentPlanDiv:Radio").click(function(){
					$("#paymentPlanDiv").each(function(){
				        if($(this).find('input[type="radio"]:checked').length > 0){
						   var index = $(this).find('input[type="radio"]:checked').attr("class");
						   passSelectedPaymentPlan(index,resultPaymentPlans);
						   return false;
						 }   
				    });
			   });
			   
				  // first name box event handling
				  $("#shippingFirstNameText").bind('input propertychange', function() {
					  	confirmBtnBehaviourForDE();
				  		$(".shippingFirstNameHidden").val($("#shippingFirstNameText").val());
				  });
				  
				  // last name box event handling
				  $("#shippingLastNameText").bind('input propertychange', function() {
					  	confirmBtnBehaviourForDE();
				  		$(".shippingLastNameHidden").val($("#shippingLastNameText").val());
				  });
				  
				  // gender select option event handling
				  $("#shippingGenderOption").live('change', function() {
				  		confirmBtnBehaviourForDE();
				  		$(".shippingGenderHidden").val($("#shippingGenderOption").val());
				  });
				  
				  // birth date box event handling
				  $("#shippingBirthDateText").bind('input propertychange', function() {
					$(".shippingBirthDateHidden").val($("#shippingBirthDateText").val());
					var dob = $("#shippingBirthDateText").val();
					  if(isNumeric(dob)){
					  	if(dob.length==8){
					  		$("#dobErrMsg").hide();
				  		  	confirmBtnBehaviourForDE();
				  		}else{
				  			disableConfirmButton();
				  		}
					  }else{
						  $("#dobErrMsg").show();
						  disableConfirmButton();
					  }
				  });
				  
				  // birth date box event handling to show error message
				  $("#shippingBirthDateText").blur(function(){
			        	if($("#shippingBirthDateText").val().length < 8){
				  			$("#dobErrMsg").show();
				  		}else{
						    $("#dobErrMsg").hide();
						}
			      });
				  
				  // email id box event handling
				  $("#shippingEmailIdText").bind('input propertychange', function() {
					  	confirmBtnBehaviourForDE();
				  		$(".shippingEmailIdHidden").val($("#shippingEmailIdText").val());
				  });
				  
				  // street name box event handling
				  $("#shippingStreetNameText").bind('input propertychange', function() {
					  	confirmBtnBehaviourForDE();
				  		$(".shippingStreetNameHidden").val($("#shippingStreetNameText").val());
				  });
				  
				  // house number box event handling
				  $("#shippingHouseNumberText").bind('input propertychange', function() {
					$(".shippingHouseNumberHidden").val($("#shippingHouseNumberText").val());
					var housNumber = $("#shippingHouseNumberText").val();
					if(housNumber.length < 11){
					
					  		$("#houseNumberErrMsg").hide();
				  		  	confirmBtnBehaviourForDE();
					}
				  });

				  // city box event handling
				  $("#shippingCityText").bind('input propertychange', function() {
					  	confirmBtnBehaviourForDE();
				  		$(".shippingCityHidden").val($("#shippingCityText").val());
				  });
				  
				  // zip code box event handling
				  $("#shippingZipCodeText").bind('input propertychange', function() {
					  	confirmBtnBehaviourForDE();
				  		$(".shippingZipCodeHidden").val($("#shippingZipCodeText").val());
				  });
				  
				  // country box event handling
				  $("#shippingCountryText").bind('input propertychange', function() {
					  	confirmBtnBehaviourForDE();
				  		$(".shippingCountryHidden").val($("#shippingCountryText").val());
				  });
				  
				  // phone munber event handling
				  $("#shippingPhoneNumberText").bind('input propertychange', function() {
					  	confirmBtnBehaviourForDE();
				  		$(".shippingPhoneNumberHidden").val($("#shippingPhoneNumberText").val());
				  });
				  
				  //Terms and Conditions for Klarna Invoice event handling
		  $(document).ready(function(){
      		  $("#klarnaTCInvoiceDialog").dialog({
	          autoOpen: false,
	          width: 600
	        });
        
      		$("#klarnaTClabel").click(function(){
				$("#klarnaTCPartPaymentFlexibleDialog").dialog('close');
      			$("#klarnaTCInvoiceDialog").removeClass("klarnaDialog");
          		$("#klarnaTCInvoiceDialog").dialog("open");
          		 return false;
      		});
      	});

		//Terms and Conditions for Klarna Part Payment Flexible event handling
		$(document).ready(function(){
      		$("#klarnaTCPartPaymentFlexibleDialog").dialog({
	          autoOpen: false,
	          width: 600
	        });
        
      		$("#klarnaTClabelPPFlexible").click(function(){
      		    $("#klarnaTCInvoiceDialog").dialog('close');
      			$("#klarnaTCPartPaymentFlexibleDialog").removeClass("klarnaDialog");
          		$("#klarnaTCPartPaymentFlexibleDialog").dialog("open");
          		 return false;
      		});
      	});	
				  // mobile munber event handling
				  $("#shippingMobileNumberText").bind('input propertychange', function() {
					  	confirmBtnBehaviourForDE();
				  		$(".shippingMobileNumberHidden").val($("#shippingMobileNumberText").val());
				  });
			   
			}//End of openInvoice

      }
			
      </script>
      
      <script type="text/javascript" src="${config.content_url}js/jquery.validate.js"></script>
      <script type="text/javascript" src="${config.content_url}js/jquery.validate.creditcard2.js"></script>
      <script type="text/javascript">
        jQuery(document).ready(function($) {
          // cvv info toggle
          //$('fieldset.cvv label').click(function () {
          //  $("#cvc-info").toggle();
          //});
          // card validation
          $("#creditCard").validate({
            rules: {
              ${input.cardNumber}: {
                required: true,
                creditcard2: function(){
										var cards = new Array();
										cards[0] = { cardName: "VISA", regEx: "^4[0-9]{12}([0-9]{3})?$"};
										cards[1] = { cardName: "MASTERCARD", regEx: "^5[1-5][0-9]{14}$"};
										cards[2] = { cardName: "AMEX", regEx: "^3[47][0-9]{13}$"};
										cards[3] = { cardName: "DINERS", regEx: "^3(0[0-5]|[68][0-9])[0-9]{11}$"};
										cards[4] = { cardName: "DISCOVER", regEx: "^6011[0-9]{12}$"};
										var cardNum = $("#paymentChoiceCC #creditCard .cardNumber > input").val();						
										cardNum = cardNum.replace(/[^0-9]/g,'');
										for (var i=0; i< cards.length; i++) {
											if (new RegExp(cards[i]["regEx"]).test(cardNum)) {
												return cards[i]["cardName"];	
												break;
											}
										}
										return "Unknown";
									}
              },
              ${input.cvCode}: {
                required: true,
                digits: true,
                rangelength: [3, 4]
              },
							${input.issue}: {
                //required: true,
                digits: true,
                rangelength: [1, 4]
              },
              expdatemonth: {
                required: true,
                range: [1, 12]
              },
              expdateyear: {
                required: true,
                range: [10, 100]
              },
              issue: {
                //required: true,
                digits: true,
                rangelength: [3, 4]
              },
              startdatemonth: {
                //required: true,
                range: [1, 12]
              },
              startdateyear: {
                //required: true,
                range: [8, 25]
              }
            },
            messages: {
              ${input.cardNumber}: {
                required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>',
                creditcard2: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>'
                },
              ${input.cvCode}:{
                required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>',
                digits: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>',
                rangelength: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>'
              },
              ${input.issue}: {
                required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>',
                digits: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>',
                rangelength: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>'
              },
              expdatemonth: {
                required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>',
                range: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>'
              },
              expdateyear: {
                required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>',
                range: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>'
              },
              startdatemonth: {
                required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>',
                range: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>'
              },
              startdateyear: {
                required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>',
                range: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}"/></span>'
              }
            }
          });
					
					// Helper function to fire validation when cardType changes!

					// Important!
					$("input[type='radio'][name='${input.cardType}']").change(function(){
							$("#creditCard").validate().element('#${input.cardNumber}');
					});
					$("input[type='radio'][name='${input.cardType}']").click(function(){
							$("#creditCard").validate().element('#${input.cardNumber}');
					});
					
        });
		
		jQuery(document).ready(function($) {
          $("#dd").validate({
            rules: {
              bankAccountIban: {
                required: true,
				validateIban: true
              },
			  bankSwiftBIC: {
                required: true,
				validateBic: true
              },
			  billingFirstName: {
                required: true
              },
			  billingLastName: {
                required: true
              },
			  email: {
                required: true,
				email: true
              },
			  billingAddressLine1: {
                validateAddress: true
              },
			  billingCity: {
                required: true
              },
			  billingZipCode: {
                required: true
              },
			  billingCountryCode: {
                required: true
              },
			  ddagreement: {
                required: true
              }
            },
            messages: {
				bankAccountIban: {
					required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidIban}"/></span>',
					validateIban: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidIban}"/></span>'
                },
				bankSwiftBIC: {
					required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidBic}"/></span>',
					validateBic: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidBic}"/></span>'
                },
				billingFirstName: {
					required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidFirstName}"/></span>'
                },
				billingLastName: {
					required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidLastName}"/></span>'
                },
				email: {
					required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidEmail}"/></span>',
					email: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidEmail}"/></span>'
                },
				billingAddressLine1: {
					validateAddress: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidAddress}"/></span>'
                },
				billingCity: {
					required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidCity}"/></span>'
                },
				billingZipCode: {
					required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidZip}"/></span>'
                },
				billingCountryCode: {
					required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidCountryCode}"/></span>'
                },
				ddagreement: {
					required: '<span class="errorIcon"><img width="16" height="16" src="${config.content_url}img/attention.gif" alt="${static.errorCode1}" title="${static.invalidAgreement}"/></span>'
                }
            }
          });
        });
		
		jQuery.validator.addMethod("validateIban", function(value, element, param) {
														return isValidIban();
													});
		jQuery.validator.addMethod("validateBic", function(value, element, param) {
														return isValidBic();
													});
		jQuery.validator.addMethod("validateAddress", function(value, element, param) {
															return isValidAddress();
														});
		function isValidIban() {
			var countryLengthMap = {"AD":"24","AL":"28","AT":"20","BA":"20","BE":"16","BG":"22","CH":"21","CY":"28","CZ":"24","DE":"22","DK":"18","EE":"20","ES":"24","FI":"18","FO":"18","FR":"27","GB":"22","GE":"22","GI":"23","GL":"18","GR":"27","HR":"21","HU":"28","IE":"22","IS":"26","IT":"27","LI":"21","LT":"20","LU":"20","LV":"21","MC":"27","MD":"24","ME":"22","MK":"19","MT":"31","NL":"18","NO":"15","PL":"28","PT":"25","RO":"24","RS":"22","SE":"24","SI":"19","SK":"24","SM":"27","UA":"29"};
			var iban = $.trim($('#bankAccountIban').val()).toUpperCase();
			if (iban == '' || iban.length < 4) {
				return false;
			}

			var country = iban.substring(0,2);
			var countryCode  = $.trim($('#billingCountryCode').val()).toUpperCase();
			if (country != countryCode) {
				return false;
			}

			var reqLen = countryLengthMap[countryCode];
			if (reqLen != undefined && iban.length != reqLen) {
				return false;
			}
			// Get the 4 first, strip them from the original and add at end.
			var fourFirst = iban.substring(0, 4);
			var ibanWithFourFirstRight = iban.substring(4);
			ibanWithFourFirstRight += fourFirst;

			// Replace NON digit chars with chars from lookup table.
			var digitCounter = LETTER_A = 10;
			var chars = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
			for (var index = 0; index < chars.length; index++, digitCounter++) {
				var re = new RegExp(chars[index], 'g');
				ibanWithFourFirstRight = ibanWithFourFirstRight.replace(re, digitCounter+'');
			}
			// Whats left shall now only be numeric chars.
			if (isNaN(ibanWithFourFirstRight)) {
				return false;
			}

			return true;
		}

		function isValidBic() {
			var bic = $.trim($('#bankSwiftBIC').val());
			if (bic == '' || !(bic.length == 8 || bic.length == 11)) {
				return false;
			}
			return bic.substring(4,6) == $.trim($('#billingCountryCode').val());
		}
		
		function isValidAddress() {
			var line1 = $.trim($('#billingAddressLine1').val());
			var line2 = $.trim($('#billingAddressLine2').val());
			if (line1 == '' && line2 == '') {
				return false;
			}
			return true;
		}

var date = new Date();
						var year = date.getFullYear()-2000, opt; 
						
						opt = '<option value="${static.year}">${static.year}</option>';
						$('#paymentChoiceCCbig #creditCard #expdateyear').append(opt);
						
						for (i = -1; i < 12; i++) { 
							opt = '<option value="' +(year+i)+ '">'+(year+i)+'</option>';
							$('#paymentChoiceCCbig #creditCard #expdateyear').append(opt);
						}
    </script>
    </div><!-- /#paymentMethods-->
    <div id="dialog" title="${static.cvv}" class="cvvdialog">
      ${static.cvvInfoWindow}
    	<div align="center"><img src="${config.content_url}img/cc-securitycode-pp.jpg"/></div>
    </div>
    
    <div id="klarnaTCInvoiceDialog" title="${static.klarnaTCHeadingWindow}" class="klarnaDialog">
      ${static.klarnaTermsAndConditionsWindowForInvoiceForGermany}
    </div>
    
    <div id="klarnaTCPartPaymentFlexibleDialog" title="${static.klarnaTCHeadingWindow}" class="klarnaDialog">
      ${static.klarnaTermsAndConditionsWindowForPartPaymentFlexibleForGermany}
    </div>
    
  </body>
</html>