<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${static.ibpRedirectInfo}</title>
    <style type="text/css">
    /*body{font:"Trebuchet MS", sans-serif;}*/
    body{font:10pt helvetica, arial, sans-serif;}
		.bottomField{width:520px;border:0;padding:0;}
    #nglogo{position:relative;top:0;float:right;}
    .submitCCOBbtn{position:relative;top:0;display:inline;float:left;}
    img{border:0;}
    .paymentChoice{width:500px;border:1px solid #999;background-color:#FFF;margin-bottom:10px;padding:10px 10px 3px;} /*E5E5E5*/
    .paymentChoice h3{color:#FFF;background:#999 url("${config.content_url}img/gradient.gif") top left repeat-x;margin:-10px -10px 0;padding:4px;}
    fieldset{border:0;border-bottom:1px solid #ddd;padding:10px 0;}
    .label{font-weight:700;}
    .submit{margin-top:20px;background-image:url("${config.content_url}img/button_background.png");background-position:left top;background-repeat:repeat-x;border:1px outset #CCC;color:#555;cursor:pointer;font-weight:700;padding:4px 5px;}
    .vbv_mcsc{display:inline;position:relative;top:0;float:right;height:20px;padding:20px;}
    .vbv_mcsc input{margin:-6px 0 -12px 10px;}
    .cancel{background-color:#EEE;border:1px outset #CCC;color:#555;cursor:pointer;font-weight:700;margin:10px;padding:4px 5px;}
    </style>
  </head>
  <body>
    <div id="ibpRedirect">
      <div class="paymentChoice">
      	<h3>&nbsp;</h3>
        <h4>${static.ibpRedirectInfo}</h4>
        <fieldset class="bottomField">
          <div class="submitCCOBbtn">
            <form id="redirectForm" name="redirectform" action="${ibp.bankUrl}" method="${ibp.bankMethod}">
              ${ibp.bankForm} <br /> <input id="submitBtn" class="submit" type="submit" value="${static.submit}"/>
            </form>
          </div>
          <div class="vbv_mcsc">
            &nbsp;
          </div>
        </fieldset>
      </div><!-- /.paymentChoice-->
      <form name="cancelPayment" id="cancelPayment" action="${config.cancel_servlet}" method="POST">
        <input type="hidden" name="${input.encryptedCustomerRedirect}" value="${req.encryptedCustomerRedirect}" />
        <input type="hidden" name="${input.encryptedStatusTicket}" value="${req.encryptedStatusTicket}" />
        <input id="cancelBtn" class="cancel" type="submit" value="${static.cancel}">
      </form>
      <script type="text/javascript" src="${config.content_url}js/jquery-1.3.2.min.js"></script> 
      <script type="text/javascript">
        jQuery(document).ready(function($) {
          // uncomment to auto redirect
          document.redirectform.submit();
					$("#redirectForm").submit(function(){
						$("#submitBtn").attr('value','${static.processingWait}'); 
						$("#submitBtn").attr('disabled','disabled'); 
						$("#cancelBtn").attr('disabled','disabled');
						$("#cancelBtn").css("color","#CCCCCC");
					});
					$("#cancelPayment").submit(function(){
						$("#cancelBtn").attr('disabled','disabled');
						$("#submitBtn").attr('disabled','disabled');
						$("#cancelBtn").css("color","#CCCCCC");
					});
        });
      </script>
    </div><!-- /#ibpRedirect-->
  </body>
</html>