<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${static.title}</title>
    <link type="text/css" href="${config.content_url}css/custom-theme/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
    <link href="${config.content_url}css/payment.css" type="text/css" media="screen" rel="stylesheet" />
		<style type="text/css">
			.paymentChoice h3{color:#FFF;background:#999 url("${config.content_url}img/gradient.gif") top left repeat-x;margin:-10px -10px 0;padding:4px;}
			/*.active{width:500px;border:1px solid #999;background-color:#FFF;margin:10px 0;padding:10px;}
			.active h3{color:#fff;background:#999 url("${config.content_url}img/gradient.gif") top left repeat-x;margin:-10px -10px 0;padding:4px;}*/
			.submit{margin-top:20px;background-image:url("${config.content_url}img/button_background.png");background-position:left top;background-repeat:repeat-x;border:1px outset #CCC;color:#555;cursor:pointer;font-weight:700;padding:4px 5px;}
    </style>
  </head>
  <body>
  	<div id="attentionBlock">
    	<noscript>
        <fieldset id="nojs">
          <img width="14" height="14" src="${config.content_url}img/stop.gif" alt="${static.errorCode1}"/>&nbsp; ${static.javaScriptInfo}
        </fieldset>
      </noscript>
    	<fieldset id="attention">
    		${static.refreshAndBackInfo}
      </fieldset>
    </div>
    <div id="paymentMethods">
	    <fieldset class="topField">
      	<div id="price">
          <span class="label">${static.amount}:</span>&nbsp; ${req.formattedAmount} ${req.currency}
          <br \>
          <span class="label">${static.orderId}:</span>&nbsp; ${req.orderId}
          <br \>
          <span class="label">${static.orderDescription}:</span>&nbsp; ${req.orderDescription}
        </div>
        <div id="nglogo">
          <img src="${config.content_url}img/merchant_logo.gif" alt="Merchant logo" id="merchantlogo" width="173" height="50">
        </div>
      </fieldset>
      <#assign rv = req.errorCode!"0">
      <#if rv != "0">
        <p class="error">
          <fieldset id="errorField">
            <#if rv == "1">
              ${static.errorCode1}
            <#elseif rv == "2">
              ${static.errorCode2}
            <#elseif rv == "3">
              ${static.errorCode3}
            <#else>
              ${static.errorCodeUnknown}
            </#if>
          </fieldset>
          <br />
        </p>
      </#if>
      
	  
	  <div id="paymentChoiceOBbig" class="paymentChoice">
      	<h3><input type="radio" id="rbtnOnlineBanking" value="Online Banking" name="paymentType" checked ="checked"onClick="toggleStatus()"><label for="rbtnOnlineBanking">${static.onlineBanking}</label></h3>
		    <div id="paymentChoiceOB">
          <form name="onlineBanking" id="onlineBanking" action="${config.ibp_servlet}" method="GET">
            <input type="hidden" name="${input.encryptedCustomerRedirect}" value="${req.encryptedCustomerRedirect}" />
            <input type="hidden" name="${input.encryptedStatusTicket}" value="${req.encryptedStatusTicket}" />
            <fieldset class="cardType">
              <ul id="ulOBType">
              <li>
              	<ul class="lbl">
                  <!--<li class="spc">&nbsp;</li>-->
                  <li class="lblw"><label for="INICIS"><img width="120" height="40" class="ccLogo" alt=INICIS src="${config.content_url}img/inicis_logo.gif"></label></li>
                  <li>
                  	<div style="width:120px" align="center">
                    <input type="radio" name="${input.bankId}" id="INICIS" value="37" checked="checked" />
                    </div>
                  </li>
              	</ul>
              </li>
              </ul>
            </fieldset>

              
            <fieldset class="bottomField">
              <div class="submitCCOBbtn">
                <input id="submitOB" class="submit" type="submit" value="${static.submit}"/>
              </div>
              <div class="vbv_mcsc">
              </div>
            </fieldset>
                  
          </form>
      	</div>
      </div>
	  
      
            
      <form name="cancelPayment" id="cancelPayment" action="${config.cancel_servlet}" method="POST">
        <input type="hidden" name="${input.encryptedCustomerRedirect}" value="${req.encryptedCustomerRedirect}" />
        <input type="hidden" name="${input.encryptedStatusTicket}" value="${req.encryptedStatusTicket}" />
        <input id="cancelBtn" class="cancel" type="submit" value="${static.cancel}">
      </form>
      <script src="${config.content_url}js/jquery-1.3.2.min.js" type="text/javascript"></script>
			<script src="${config.content_url}js/jquery.flower_bubble.js" type="text/javascript"></script>
      <script src="${config.content_url}js/jquery.pngFix.js" type="text/javascript"></script>
      <script src="${config.content_url}js/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
      <script type="text/javascript">
			
    </div>
  </body>
</html>