body{font:10pt helvetica, arial, sans-serif;}
.demoHeaders{margin-top:2em;}
.topField{width:520px;border-bottom:1px solid #ddd;padding:10px 0;}
.bottomField{width:520px;border:0;padding:0;}
#nglogo{position:relative;top:0;float:right;}
#price{position:relative;top:0;float:left; width:500px}
.submitCCOBbtn{position:relative;top:0;display:inline;float:left;}
a#cvvinfolabel{cursor:pointer;color:#00F;text-decoration:underline;;}
a#cvvinfolabel:hover{cursor:pointer;color:#00F;text-decoration:underline;}
.cvvdialog{visibility:hidden;position:absolute;left:-100px;}
#ulCCType,#ulOBType,#ulPPType, #ulEFTType{padding-left:0;clear:left;list-style:none;margin:0;}
#ulCCType li,#ulOBType li,#ulPPType li,#ulEFTType li{display:inline;float:left;}
#paymentMethods{margin-left:0;padding-left:0;position:relative;}
img{border:0;}
.paymentChoice{width:500px;border:1px solid #999;background-color:#FFF;margin-bottom:5px;padding:10px 10px 5px;} /*E5E5E5*/
#paymentChoiceCC{width:500px;border:none;background-color:#FFF;margin:0px;padding:0px;padding-top:0px;}
#paymentChoiceOB{width:500px;border:none;background-color:#FFF;margin:0px;padding:0px;padding-top:0px;}
#paymentChoicePP{width:500px;border:none;background-color:#FFF;margin:0px;padding:0px;padding-top:0px;}
#paymentChoiceEFT{width:500px;border:none;background-color:#FFF;margin:0px;padding:0px;padding-top:0px;}
fieldset{border:0;border-bottom:1px solid #ddd}
fieldset.cardType{margin-left:10px;width:480px;}
.label{font-weight:700;}
.cardType{padding-top:0;}
.cardType label{margin-right:15px;}
.error{color:red;}
input.error{border:1px red solid;color:red;}
fieldset.cvv{border-bottom:1px solid #ddd;}
.vbv_mcsc{display:inline;position:relative;top:0;float:right;height:0px;padding:20px;}
.vbv_mcsc img{margin:-6px 0 -10px 8px;}
.cancel{background-color:#EEE;border:1px outset #CCC;color:#555;cursor:pointer;font-weight:700;margin:10px;padding:4px 5px;}
.cancelLoader{display:block;margin:10px;padding:7px 0;}
.expirationDate label,.startDate label,#cvc-info,.loader{display:none;}
.errorIcon{height:16px;margin-left:5px;overflow:hidden;width:16px;}
.gbexplane{font:7pt helvetica, arial, sans-serif;display:inline;position:relative;top:0;float:right;height:0px;}
ul.lbl{float:left;width:120px;font-size:11px;list-style:none;margin:3px 0;padding:0;}
li.spc{width:20px;}
li.lblw{width:100px;}
.cardLoader,.onlineLoader{display:block;margin-top:20px;padding:7px 0;}
#errorField{border:1px dashed #FF0000;width:500px;padding-left:10px;color:#FF0000;font-weight:bold;}
#attention {width:520px;border-bottom:1px solid #ddd;border-top:1px solid #ddd;padding:10px 0;color:#000000;font-weight:normal;font-size:10pt;background-color:#FFFFFF;}
#attentionBlock{padding-left:0px;width:520px;}
#nojs{width:520px;border-top:1px solid #ddd;border-bottom:none;padding:10px 0;color:#FF0000;font-weight:bold;font-size:10pt;background-color:#FFFFFF;}
.ddSepaArea p  {line-height: 20px;font-style: italic;padding:0 10px 0 10px;font-size: 11px;margin-bottom: 2px;margin-top: 1px;}
.ddSepaArea h2 {margin-left:auto;margin-right:auto;margin-bottom: 2px;margin-top: 1px; width: 250px;font-weight: normal;}
.ddSepaArea h4 {margin: 0;}
.ddSepaTC {position: relative; height: 110px;}
.ddSepaTC #submitDD {position:absolute; bottom:2px;left:10px;}
.ddSepaTC  .errorIcon{position: absolute;left: 7px;top: 25px;}

ul.creditorInfo{list-style:none;padding:0;padding-bottom:10px;margin:0;border-bottom:1px solid #DDDDDD}
ul.creditorInfo li{padding:3px 0; font-size: 12px;position: relative;}
ul.creditorInfo li span{color:#000000;position: absolute; left: 150px;}
ul.creditorInfo li label{font-weight: bold;}
ul.creditorInfo #creditorNameLine {height: 25px;}

ul.debtorInfo{list-style:none;padding:0;padding-bottom:10px;margin:0;border-bottom:1px solid #DDDDDD;}
ul.debtorInfo li{padding:2px 0; font-size: 12px;position: relative;}
ul.debtorInfo li input, ul.debtorInfo li select {padding-left: 10px;color:#000000;}
ul.debtorInfo li .ddHeadings, ul.creditorInfo .ddHeadings {display: inline-block; width: 150px;}
.agreementArea {color: #000000;font-size: 12px;position: absolute;left: 35px;top: 5px;width: 440px;}

/* CSS for Open Invoice/Klarna */
.klarnaDialog{visibility:hidden;position:absolute;left:-100px;display: none;}
.klarnaType fieldset{border: 0 none;}
#paymentPlanDiv h2 {
  border-top: 2px solid #000;
  padding-top: 15px;
  padding-bottom: 15px;
  clear: both;
  margin: 0;
}
.verticleSpace {
	padding: 15px 0 20px;
	clear: both;
}
.klarnaType > div {
    padding: 10px 0 0;
	clear: both;
}
#KlarnaContactDetailsMainDiv{
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 11px;
    padding: 10px 0;
    text-align: center;
	margin-top: 40px;
	clear: both;
}


div#paymentPlanData, #shippingAddressSpan {
  margin-left: 35px;
}
#shippingAddrsesLabel input[type=radio]{
  float:left;
}
.bottomFieldConfirm {
margin: 10px 0;
width: auto;
}

#loadingImageDiv {
		position: fixed;
		height: 100%;
		width: 100%;
		text-align:center;
}
#loadingImageDiv img {
		margin-top: 30%;
}

.red {
 color: #F00;
}

#ssnMsg {
 color: #F00;
 padding: 7px 0 0 150px;
}

#shippingAddressDiv{
	float: left;
    margin: 0 0 10px;
    padding: 0;
}
.clearboth {
	clear: both;
}
.maxSSN {
	padding:0 0 0 148px; 
	font-size: 10px;	
}
	
#ssnLabel{
	width:145px; 
	float: left; 
	text-align:right; 
	padding: 0 3px 0 0;
}

.phoneNumMsg {
	font-size: 10px;
	padding: 0 0 0 148px;
}

#klarnaEmailIdMainLabel{
	float: left;
    padding: 0 3px 0 0;
    text-align: right;
    width: 145px;
}

#klarnaPhoneNumberLabel{
	float: left;
    padding: 0 3px 0 0;
    text-align: right;
    width: 145px;
}

#klarnaMobileNumberLabel{
	float: left;
    padding: 0 3px 0 0;
    text-align: right;
    width: 145px;
}

.dobFormat{
	padding:0 0 0 154px; 
	font-size: 10px;
}

.ssnFormat{
	padding:0 0 0 154px; 
	font-size: 10px;
}

.phoneNumMsgAT{
	font-size: 10px;
	padding: 0 0 0 154px;
}

ul.shippingAddressUL{list-style:none;padding:0;padding-bottom:10px;margin:0;}
ul.shippingAddressUL li{padding:2px 0; font-size: 12px;position: relative;}
ul.shippingAddressUL li input{color:#000000;}
.shippingFirstNameLabel {display: inline-block; width: 150px;}
.shippingLastNameLabel {display: inline-block; width: 150px;}
.shippingGenderLabel {display: inline-block; width: 150px;}
.shippingBirthDateLabel {display: inline-block; width: 150px;}
.shippingEmailIdLabel {display: inline-block; width: 150px;}
.shippingStreetNameLabel {display: inline-block; width: 150px;}
.shippingCityLabel {display: inline-block; width: 150px;}
.shippingZipCodeLabel {display: inline-block; width: 150px;}
.shippingCountryLabel {display: inline-block; width: 150px;}
.shippingPhoneNumberLabel {display: inline-block; width: 150px;}
.shippingMobileNumberLabel {display: inline-block; width: 150px;}
.ssnLabel {display: inline-block; width: 150px;}
.shippingHouseNumberLabel {display: inline-block; width: 150px;}
.shippingHouseExtensionLabel {display: inline-block; width: 150px;}